/**
 * Locations Module Styles
 */

.location-main-content {
  margin-top: 1rem;
}

.location-table {
  color: var(--text);
  background-color: var(--bg-card);
}

.location-table thead th {
  background-color: var(--bg-dark);
}

.location-table td {
  background-color: var(--bg-card);
}
