/* Error: Expected digit.
 *     ,
 * 292 |     .scale(vars.$warning, $lightness: -7.5%),
 *     |      ^
 *     '
 *   styles\components\_buttons.scss 292:6  @import
 *   styles\main.scss 24:9                  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected digit.\a     \2577 \a 292 \2502      .scale(vars.$warning, $lightness: -7.5%),\a     \2502       ^\a     \2575 \a   styles\\components\\_buttons.scss 292:6  @import\a   styles\\main.scss 24:9                  root stylesheet";
}
